# -----------------------------
# Terraform
# -----------------------------
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
env/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# Docker
# -----------------------------
*.tar

# -----------------------------
# Temporary files
# -----------------------------
*.zip
*.log

# -----------------------------
# Local tools
# -----------------------------
eksctl/
eksctl.exe

# -----------------------------
# OS files
# -----------------------------
.DS_Store